
@{
    ViewBag.Title = "Index";
}

@Html.Partial("MenuBar", "Index" )
<br />
<br />
<div>
    <div><h2><a href="/Incomings/Index">Приход</a></h2></div>
    <br />
    <div><h2>Расход</h2></div>
    <br />
</div>


<script>
    $("#mainPage").addClass('active');
</script>
